<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.dao.TLeaveMsgMapper">
  <resultMap id="BaseResultMap" type="com.bm.model.TLeaveMsg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="total" jdbcType="VARCHAR" property="total" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <association property="student" select="com.bm.dao.TStudentMapper.selectByPrimaryKey" column="student_id"/>
  </resultMap>
  <insert id="insertSelective" parameterType="com.bm.model.TLeaveMsgId">
    insert into t_leavemsg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>